<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <!-- 别名 -->

    <typeAliases>
        <package name="com.biye.sheji.entity"/>
    </typeAliases>

    <plugins>
        <!-- 配置 PageHelper 分页插件 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="offsetAsPage" value="false"/>
            <property name="rowBoundsWithCount" value="true"/>
            <property name="pageSizeZero" value="true"/>
            <property name="reasonable" value="false"/>
            <property name="params" value="pageNum=page;pageSize=limit;"/>
            <property name="supportMethodsArguments" value="false"/>
            <property name="returnPageInfo" value="none"/>
        </plugin>
        <!--<plugin interceptor="com.github.pagehelper.PageInterceptor">
            &lt;!&ndash; 使用下面的方式配置参数，后面会有所有的参数介绍 &ndash;&gt;
            <property name="param1" value="value1"/>
        </plugin>-->
    </plugins>
</configuration>