<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biye.sheji.dao.FactoryUserMapper">
    <resultMap id="UserResult" type="FactoryUser">
        <id property="id" column="id"></id>
        <result property="userName" column="userName"></result>
        <result property="password" column="password"></result>
        <result property="trueName" column="trueName"></result>
        <result property="email" column="email"></result>
        <result property="phone" column="phone"></result>
        <association property="role" column="roleId" select="com.biye.sheji.dao.RoleDao.findById"></association>
    </resultMap>

    <select id="login" parameterType="FactoryUser" resultType="FactoryUser">
        select * from factory_user where userName=#{userName} and password=#{password}
    </select>

    <select id="queryUserByUid" parameterType="FactoryUser" resultType="FactoryUser">
        select * from factory_user where id=#{id} and password=#{password}
    </select>

    <select id="list" parameterType="FactoryUser" resultMap="UserResult">
        select * from factory_user
        <where>
            <if test="userName!=null and userName!=''">
                and userName like CONCAT('%',#{userName},'%')
            </if>
        </where>
    </select>

    <select id="getTotal" parameterType="Map" resultType="Long">
        select count(*) from factory_user
        <where>
            <if test="userName!=null and userName!=''">
                and userName like #{userName}
            </if>
        </where>
    </select>

    <insert id="add" parameterType="FactoryUser">
        insert into factory_user values (null,#{userName},#{password},#{trueName},#{email},#{phone},#{roleId})
    </insert>

    <update id="update" parameterType="FactoryUser">
        update factory_user
        <set>
            <if test="userName!=null and userName!=''">
                userName=#{userName},
            </if>
            <if test="password!=null and password!=''">
                password=#{password},
            </if>
            <if test="trueName!=null and trueName!=''">
                trueName=#{trueName},
            </if>
            <if test="email!=null and email!=''">
                email=#{email},
            </if>
            <if test="phone!=null and phone!=''">
                phone=#{phone},
            </if>
            <if test="roleId!=null and roleId!=''">
                roleId=#{roleId},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="Integer">
        delete from factory_user where id=#{id}
    </delete>
</mapper>